################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

*.suo
/ConsoleApp/.vs/ConsoleApp/v16/Server/sqlite3
/ConsoleApp/ConsoleApp/bin/Debug/netcoreapp2.2
/ConsoleApp/ConsoleApp/obj
/.vs
